- var x = -20500
- var y = -12500

.step.text-center(data-x = x, data-y = y, data-scale = 6)
	h2.v-middle.
		Challenges we are solving


.step(data-x = x -= 2000, data-y = y += 1200, data-scale = 1)
	div.
		how do we deal with the topic of Ownership?

.step(data-x = x += 1000, data-y = y, data-scale = 1)
	div.
		how can we do global development efficiently (timewise, effortwise)?

.step(data-x = x += 1000, data-y = y, data-scale = 1)
	div.
		how can an engineering lead specialize or gain expertise on a domain / goal?

.step(data-x = x += 1000, data-y = y, data-scale = 1)
	div.
		how can we do internal open source?

.step(data-x = x += 1000, data-y = y, data-scale = 1)
	div.
		how can we adapt ourselves quickly to latest and greatest?

.step(data-x = x += 1000, data-y = y, data-scale = 1)
	div.
		how can we avoid churn in unplanned goals creeping in?

.step(data-x = x += 1000, data-y = y, data-scale = 1)
	div.
		how can we improve our operational &amp; monitoring delays?