- var x = -800
- var y = -12500

.step.text-center(data-x = x, data-y = y, data-scale = 6)
	h2.v-middle.
		Ownership

.step#long-pipe(data-x = x -= 500, data-y = y += 1200, data-scale = 1)
	h2.
		Spectrum of different types of teams

	table
		tr
			td(colspan = 2)
				.long-pipe
		tr
			td
				.arrow-left

			td
				.arrow-right
		tr
			td
				.left-box.
					<br/>
					<br/>
					<b> Fixed teams </b>
					<br/>
					<br/>
					- Teams co-located (Development, Design, Product)
					<br/>
					- Teams have quite a bit of historical context, on top of issues, capabilities, working closely together on a roadmap.
					<br/>
					- Prioritization is easy, though if there are lot of priorities, it is harder for a single team to fulfill all of those
			td
				.right-box.
					<br/>
					<br/>
					<b> Flexible / Resource teams </b>
					<br/>
					<br/>
					- Teams are completely ‘non-domain’ aligned.
					<br/>
					- Resources move around taking on high priority tasks that match the skillset.
					<br/>


		.you-are-here
		.you-are-here-msg.
			We are somewhere here


.step(data-x = x += 1200, data-y = y, data-scale = 1)
	b.
		For any domain X
	br
	br
	br

	table
		tr
			td
				img(src='assets/product lead.png')
				div.
					Current Expert for domain X
			td.valign-top
				.font-medium.
					- Historical context is needed to understand the domain
					<br/>
					- Best practices for code, process and monitoring is already standardized.
					<br/>
					- Technology choices are made, and if need to be revised, it has to be a consensus.
					<br/>
					- Training each person remotely, and reviewing code on top of regular activities is strenuous.


.step(data-x = x += 1000, data-y = y, data-scale = 1)
	b.
		For the same domain X
	br
	br
	br

	table
		tr
			td
				img(src='assets/project lead.png')
				div.
					Potential Expert for domain X
			td.valign-top
				.font-medium.
					- Completely understand some part of it, not an expert in other areas
					<br/>
					- Can do each of those processes better
					<br/>
					- Arriving at a consensus is hard given time zone differences, need to be flexible in adopting new tech.
					<br/>
					- Getting code reviewed is hard, getting consensus on best practices is hard


.step(data-x = x += 5000, data-y = y, data-scale = 6)
	h1.text-center Process proposal

.step(data-x = x -= 2500, data-y = y += 1200, data-scale = 1)
	h2 A few guiding principles</i>
	<br/><br/>

	.text-center.font-medium.
		Identify a <b>process</b> - Simple, Iterative, Accommodative
		<br/><br/>
		<b>Implement</b> - No Additional Overhead
		<br/><br/>
		Learn, <b>Revise</b> &amp; Readjust - Flexibility & Adopting evolving ideas
		<br/><br/>
		<b>Standardize</b> - Documents, Videos or any material needed to standardize


.step(data-x = x += 1000, data-y = y, data-scale = 1)
	h2 One Big Family - a guiding mindset
	br

	table
		tr
			td.text-center
				img(src='assets/cormac1.jpg', style='height: 40%')
			td.text-center
				img(src='assets/cormac2.jpg')
		tr
			td(style='width: 50%')
				h3 Isolated teams
				.font-medium.
					- I just focus on my domain
					<br/>
					- I will meet just my goals

			td
				h3 A single united team
				.font-medium.
					- I care for end to end consumer experience
					<br/>
					- How can I help accomplish all the goals within my Consumer family?
					

.step(data-x = x += 1000, data-y = y, data-scale = 1)
	h2 Players
	table
		tr
			td.text-center.font-medium Engineering Product Lead
			td.text-center.font-medium Engineering Project Lead
		tr
			td.text-center
				img(src='assets/product lead.png')
			td.text-center
				img(src='assets/project lead.png')
		tr
			td
				.font-medium.
					- Goals more verticalized for domain X
					<br/><br/>

					- Interested in X, passionate, want X to be a revenue and NPS driver

			td
				.font-medium(style='margin-left: 20px').
					- Goals more horizontal spanning across domains
					<br/><br/>
					- Interested in wider objectives leading to NPS and revenue growth
					<br/><br/>
					- Product team at the core, Wears the hat of a project team while working on domain X.



.step(data-x = x += 1000, data-y = y, data-scale = 1)
	h2 Phases
	br
	br
	.font-medium
		.font-medium
			table.phases
				tr
					td.text-center Problem / Potential Discussion
					td.text-center Prioritization & Planning
					td.text-center Architecture / Design Approaches
					td.text-center Development
					td.text-center Post-Production


.step(data-x = x += 1500, data-y = y, data-scale = 1)
	h2 Timeline
	#quarters.font-medium
		div.
			Q<subscript>c</subscript> - Current Quarter
			<br/>
			Q<subscript>n</subscript> - Next Quarter

		br

		.font-medium
			table(cellspacing=2, cellpadding=30)
				tr
					td.w30.
						20d before Q<subscript>n</subscript>
					td.w20.
						10d before Q<subscript>n</subscript>
					td.w20.
						5d before Q<subscript>n</subscript>
					td.w20.
						5d before Q<subscript>n</subscript>
					td.w20.
						Q<subscript>n</subscript>

				tr
					td.h20.colorme(colspan=10).
						&nbsp;
				tr
					td.
						Top asks from each other goals. Asks broken down to: Domain, type of work (<i>complete development</i>, <i>help with implmentation</i>, <i>knowledge help</i> etc.) and high level estimate in terms of <b>no. of days</b> for each type {unless its complete development}. 
						<br/>
						<a href='https://goo.gl/i3SmiO' style='color: blue; text-decoration: underline;'>Link to Asks doc</a>
					td.
						Product and Product Leads from PM, Eng & Design discuss the prospect / requirement
					td.
						Leads finalize prioritized list of what's in & out for the qtr. Decides if a project is done by <b class='highlite'>Product team or Project team</b>
					td.
						Eng leads determine training needs for each team. <b class='highlite'>Identifies potential expert in domain X</b>. Shares design principles, best practices, guidelines.

					td.
						- Reviews design
						<br/>
						- Reviews code
						<br/>
						Few Side by Side for merges & deployments
						<b class='highlite'>Adopts the potential expert as extended team</b>


