- var x = -12500
- var y = -12500

.step(data-x = x, data-y = y, data-scale = 6)
	.v-middle.
		Let’s start with what we all want

.step(data-x = x -= 2000, data-y = y += 1200, data-scale = 1)
	b Efficiency: 
	div.
		We need efficiency in design, code, test and deployment.

.step(data-x = x += 1000, data-y = y, data-scale = 1)
	b Agility: 
	div.
		We need to move fast(er) and have best experiences out there on the site for our users. This means we can rollout impactful features faster, globally.

.step(data-x = x += 1000, data-y = y , data-scale = 1)
	b Collaborative gains:
	div.
		Brilliant design thoughts, solutions can come from any corner of the org since we are solving common set of problems. Culturally, we need to be open and adaptable in the best interests of the product.

.step(data-x = x += 1000, data-y = y, data-scale = 1)
	b Stability &amp; Progress:
	div.
		The success of a capability or domain is depending on how stable it is and how it progresses in a stable manner. 