- var x = -5500
- var y = -12500

.step.text-center(data-x = x, data-y = y, data-scale = 6)
	h2.v-middle.
		Myths

.step(data-x = x -= 500, data-y = y += 1200, data-scale = 1)
	h2 Ownership:
	br
	br
	div.
		While it adds <b> responsibility </b>, it also creates boundaries. It also means <b> control </b> in certain situations.

.step(data-x = x += 1000, data-y = y, data-scale = 1)
	h2 Best Technology Stack:
	br
	br
	div.
		Sorry, there is no silver bullet. There are relatively better options at any point in time, and what matters is: 
	br
	div.
		Is our framework <b> ‘adaptable’ </b> enough to <b> ‘adopt’ </b> latest/greatest.
