doctype html
html(lang='en')
	head
		link(rel='stylesheet', type='text/css', href='lib/impress/impress.css')
		link(rel='stylesheet', type='text/css', href='styles/index.css')
	body
		#impress
			
			include ./title/title.jade
			include ./challenges/challenges.jade
			include ./agree/lets_agree.jade


		script(src = 'lib/impress/impress.min.js')
		script.
			impress().init()